:root{
    
    
    --border-gray:rgb(196, 196, 196);
    --border-sub:rgba(104, 178, 246, 1);


    --select-box-color:#001aff;
    --select-box-background:rgb(228, 227, 227);
    --select-arrow:black;
    --select-in-title-color:rgba(3, 74, 255, 1);   
    --select-content-border:rgba(27, 27, 27,0.6); 

    --feature-content-backgroundcolor:rgba(248, 248, 43,0.4);
    --feature-text-color:rgb(32, 32, 32);
    --feature-graph-title-color:rgb(9, 177, 243);

    --close-button-backgroundcolor:rgb(113 172 233);
    



    
    
}
li{
    text-decoration: none;
    list-style:none;
}

ul{
    padding:0%;
}


.deep_title{
   
    margin:2.5%;
    
    font-size: 54px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color: #222;
    letter-spacing: 0;
    text-align: center;
}

.deep_main{
    padding-left: 0%;
    margin:0% 15%;
    padding: 0% 5%;
    border: 4px solid var(--border-gray);
    
}

.title{
    text-align: center;
    margin:5% 0%;
    font-size:36px;
    color: #004ea0;
    font-weight: normal;
   
    


}
.subtitle{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 4px 2px;
    margin:2.5% 0;
    border: 4px solid var(--border-sub);
    line-height: 34px;
    font-size: 21px;
    font-weight: 500;
   
   
}
.select_box{
    
    width:50%;
    margin:2% 8%;
    padding:12px 8px;
    border: 4px solid black;
    background-color: var(--select-box-background);
    box-shadow: 2px 2px gray;
    cursor: pointer;


}
.select_box_style{
    color:var(--select-box-color);
    font-size:18px;
    font-weight: 600;
    

}
.select_arrow_style{
    font-size: 24px;
    color:var(--select-arrow);
}
.content_text{
    color: var(--feature-text-color);
    font-size: 18px;
    font-weight: 300;
    margin:5% 0%;
}
.select_content{
    display: none;
    border: 4px solid var(--select-content-border);
    padding: 5% 2%;
    background-color: var(--feature-content-backgroundcolor);

}
.select_in_title{
    font-size: 35px;
    font-weight: 500;
    color:var(--select-in-title-color);
    
}
.img_sizing{
    text-align: center;
    width:72%;
}
.select_paragraph{
   padding-right: 0%;
    margin: 2.5% 0;
    text-align: left;
    color: var(--feature-text-color);
    font-size: 18px;
    font-weight: 400;
    
  
}
.select_explain{
    font-size: 16px;
    font-weight: bold;
    color:ar(--feature-text-color);
    margin-bottom: 2.5%;
}
.feature_graph_title{
    text-align: center;
    margin:5% 5%;
    font-size:35px;
    font-weight: 400;
    color:var(--feature-graph-title-color);

}
.graph_explain{

    font-size:20px;
    text-align:center;
}
.graph_img{
    width:100%;;
   
}
.close{
   
    padding: 4px 6px;
    font-size: 24px;
    background-color: var(--close-button-backgroundcolor);
    border: 2px solid black;
    font-weight: 600;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}
.close_box{
    text-align: center;
    margin:2.5% 0%;
}

/* .paragraph_content{
   
    margin: 5% 0;
    text-align: left;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    
  
} */